# Terraform
*.tfstate
*.tfstate.*
*.tfvars
.terraform/
.terragrunt-cache/
crash.log
override.tf
override.tf.json

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Secrets
*.pem
*.key
secrets.yaml
