{{- if .Values.prometheusAgent.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: prometheus-agent
  namespace: {{ .Values.namespace }}
  labels:
    app.kubernetes.io/name: prometheus-agent
    app.kubernetes.io/component: metrics
    app.kubernetes.io/part-of: observability
spec:
  type: ClusterIP
  ports:
    - name: web
      port: 9090
      targetPort: web
      protocol: TCP
  selector:
    app.kubernetes.io/name: prometheus-agent
{{- end }}
